h1 {
    font-family: verdana;
    text-align: center;
  }
p {
    color: black;
  }
i {
    font-size: 300%;
  }
body {
  background-color: #ccc
}
img {
  border-radius: 300px;
  padding: 30px;

}
div {
  padding: 30px;
  margin: 30px;
  width: 400px;
  background-color: #eee;
}
#mail {
  color:blue;
}
.alpha {
  float: left;
}
.beta {
  float: left;
}
form {
  background-color: skyblue;
  width: 360px;
  padding:20px;
}
